[Unit]
Description=Apollo Provisioning Service
After=network.target apollo-bmc.service

[Service]
Type=simple
User=vapa
WorkingDirectory=/home/vapa/dev/apollo-simulator
ExecStart=/usr/bin/python3 /home/vapa/dev/dc-simulator/src/provisioning_service.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
